.person{
  text-align: center;
  width: 300px;
  height: fit-content;
  margin: 3rem auto;
  background-color: lightgray;
  border-radius: 5px;
}
*{
  margin: auto;
  width: fit-content;
}
.person img{
  border: 1px solid black;
  border-radius: 100px;
  margin-top: 10px;
}
.child{
  text-align: justify;
}